{
	frankenphp {
		num_threads 4
		worker {
			file /app/public/index.php
			num 4
		}
	}
	order php_server before file_server
	auto_https off
	admin off
	persist_config off
	log {
		output discard
	}
}

{$SERVER_NAME} {
	root * /app/public
	php_server
}
