global
    daemon
    maxconn 4096

defaults
    mode http
    option dontlognull
    option http-keep-alive
    timeout connect 2s
    timeout client  10s
    timeout server  10s

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api1 api1:9999 check inter 2s fall 2 rise 1
    server api2 api2:9999 check inter 2s fall 2 rise 1
